ip: 192.168.10.10
memory: 2048
cpus: 1
provider: virtualbox
authorize: C:\Users\julie\.ssh\id_rsa.pub
keys:
    - C:\Users\julie\.ssh\id_rsa
folders:
    -
        map: 'D:\Projets Web\multi-tenant-example'
        to: /home/vagrant/code
sites:
    -
        map: multitenant.dev
        to: /home/vagrant/code/public
databases:
    - homestead
name: multitenant
hostname: multitenant
